In [4]:
import re

In [2]:
text = """11111@1"""
num = re.findall("11",text) #Literal matching
print(num)

['11', '11']

In [3]:
text = """11111@1"""
num = re.findall("[11]",text) #Sequence of occurences by default occurence is 1
print(num)

['1', '1', '1', '1', '1', '1']

In [4]:
text = """abc12345ABC"""
num = re.findall("[123]{2}",text) #With frequency two
num

['12']

In [5]:
text = """
Details:-
Mob No :- 9022234961
Address :- Akola
"""
find_no = re.findall("[0-9]{10}",text) #0-9 till 10 frequency
print(find_no,len(find_no))

['9022234961'] 1

In [6]:
text = """
Details:-
Mob No :- 9022234961
Address :- Akola
Pan No :- DMBPB1234N
"""
find_pan = re.findall("[A-Z]{5}[0-9]{4}[A-Z]",text)
print(find_pan,len(find_pan))

['DMBPB1234N'] 1

In [17]:
text = """
Details:-
Mob No :- 9022234961
Address :- Akola
Pan No :- DMBPB1234N
DOB :- 01/02/1995
       1-Feb-1995 
"""
find_DOB = re.findall("(?:[0-9]{2}|[0-9])[-/](?:[0-9]{2}|[A-Za-z]{3})[-/][0-9]{4}",text)
print(find_DOB,len(find_DOB))

['01/02/1995', '1-Feb-1995'] 2

In [15]:
text = """
Details:-
Mob No :- 9022234961
Address :- Akola
Pan No :- DMBPB1234N
DOB :- 01/02/1995
       1-Feb-1995 
Mail ID :- shrikant.bharsakle@tcs.com
           sbharsakle@HSBC.com
           teju.dhande@HCL.com
"""
find_mail = re.findall("[a-z]{4,10}(?:|[.][a-z]{6,9})[@][a-zA-z]{3,4}[.][a-z]{3}",text)
print(find_mail,len(find_mail))

['shrikant.bharsakle@tcs.com', 'sbharsakle@HSBC.com', 'teju.dhande@HCL.com'] 3

## Special Sequence :-

###  1. \d = it includes 0-9 numbers

In [7]:
text = """
Details:-
Mob No :- 9022234961
Address :- Akola
"""
find_no = re.findall("\d{10}",text) #\d includes number from 0-9 like[0-9]
print(len(find_no))
print(find_no)

1
['9022234961']

In [9]:
text = """
Details:-
Mob No :- +91-9022234961
Address :- Akola
"""
find_no = re.findall("\d{10}",text) #\d includes number from 0-9 like[0-9]
print(len(find_no))
print(find_no)

1
['9022234961']

### 2. \D = [^0-9 ] = Except 0-9 numbers includes all, includes sapce and symbol as well

In [10]:
text = """
Details:-
Mob No :- +91-9022234961
Address :- Akola
"""
alpha = re.findall("\D",text) #By default frequency is one thats y all alphabates in words printed including new line 
print(alpha)

['\n', 'D', 'e', 't', 'a', 'i', 'l', 's', ':', '-', '\n', 'M', 'o', 'b', ' ', 'N', 'o', ' ', ':', '-', ' ', '+', '-', '\n', 'A', 'd', 'd', 'r', 'e', 's', 's', ' ', ':', '-', ' ', 'A', 'k', 'o', 'l', 'a', '\n']

In [22]:
text = """
!@#$%^&*(
Details:-
Mob No :- +91-9022234961
Address :- Akola

"""
alpha = re.findall("\D{10}",text) #Except numbers[^0-9] it includes new line,alphabets,special chars
print(alpha)

['\n!@#$%^&*(', '\nDetails:-', '\nMob No :-', '\nAddress :']

### 3. \s = Includes space only

In [31]:
space = re.findall("\s","Shri kant  Bharsa Kle ")
print(len(space))
print(space)

5
[' ', ' ', ' ', ' ', ' ']

In [32]:
text = """
!@#$%^&*(
Details:-
Mob No :- +91-9022234961
Address :- Akola

"""
space_1 = re.findall("\s",text)
print(len(space_1))
print(space_1)

11
['\n', '\n', '\n', ' ', ' ', ' ', '\n', ' ', ' ', '\n', '\n']

In [33]:
text = """
Details:-
Mob No :- 9022234961
Address :- Akola
Pan No :- DMBPB1234N
Aadhar No :- 1234 4567 1234
"""
adhar = re.findall("\d{4}\s\d{4}\s\d{4}",text) #\d= use for no. 0-9,\s= use for space
print(len(adhar))
print(adhar)

1
['1234 4567 1234']

### 4. \S = [^ ] Except space select everything

In [34]:
space = re.findall("\S","Python and DS") # Except space[^ ] select everything with frequency one(By default)
print(space)

['P', 'y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'D', 'S']

In [36]:
space = re.findall("\S{2}","Python and DS") # Except space[^ ] select everything with frequency two
print(space)

['Py', 'th', 'on', 'an', 'DS']

### 5. \w = [A-Za-z0-9_] includes underscore as well

In [41]:
text = """
mail Id :- shrikant.bharsakle@gmail.com
           sbharsakle95@gmail.com
           teju.dhande@gmail.com
"""
maild = re.findall("\w{4,12}(?:|[.]\w{9})@gmail.com",text)
print(maild)

['shrikant.bharsakle@gmail.com', 'sbharsakle95@gmail.com', 'dhande@gmail.com']

In [105]:
text = """Sample.txt"""
res = re.findall(r"\w{2,11}",text)
res

['Sample', 'txt']

In [103]:
text = """Sample.txt"""
res = re.findall(r"\w{2,6}.txt",text)
res

['Sample.txt']

In [53]:
text = """Sample.txt"""
res = re.findall(r"\w{6}[.]\w{3}",text)
res

['Sample.txt']

### 6. \W = [^A_Za-z0-9 _] Except A-Z,a-z,0-9,underscore(__)

In [42]:
re.findall("\W","sbharsakle95@gmail.com teju.dhande@gmail.com") #Except A-Za-z0-9 gives symbols and spaces

['@', '.', ' ', '.', '@', '.']

### 7. \b = check the char at start and at end of the word

In [60]:
#Extract the json from given text
text = """
Sample.txt
sample1.json
Sample2.jason
"""
res = re.findall(r"\bS",text)
res

['S', 'S']

In [68]:
#Extract the json from given text
text = """
Sample.txt
Sample1.json
Sample2.json
"""
res = re.findall(r"\w{2,7}[.]\w{4}",text)
res

['Sample1.json', 'Sample2.json']

In [72]:
#Extract the 10 digit number from given text
#----------------------IMP-----------------------
text = """
Sample.txt
Sample1.json
Sample2.json
10101010101012020
9022234961
"""
res = re.findall(r"\b\d{10}\b",text) 
res

['9022234961']

In [83]:
#Extract PAN CARD no.
text = """
Sample.txt
Sample1.json
Sample2.json
10101010101012020
9022234961
DMBPB1214I12345

"""
res = re.findall(r"\b[A-Z]{5}\d{4}[A-Z]\b",text) #Given \b boundaries thats y this result- DMBPB1214I12345 will not print
res

[]

In [85]:
#Extract PAN CARD no.
text = """
Sample.txt
Sample1.json
Sample2.json
10101010101012020
9022234961
DMBPB1214I12345 #Incorrect pan no.
DMBPB1234I #Correct Pan no.

"""
res = re.findall(r"\b[A-Z]{5}\d{4}[A-Z]\b",text) #Correct pan no. printed coz of boundries
res

['DMBPB1234I']

In [86]:
#Extract PAN CARD no.
text = """
Sample.txt
Sample1.json
Sample2.json
10101010101012020
9022234961
DMBPB1214I12345 #Incorrect pan no.
DMBPB1234I #Correct Pan no.

"""
res = re.findall(r"[A-Z]{5}\d{4}[A-Z]",text) #If we removed boundries(\b) it will give correct and incorrect pan no.
                                                #thats y it is neccessary to give boundries(\b)
res

['DMBPB1214I', 'DMBPB1234I']

# <font color=Blue> Special char with special meaning </font>

### 1. + = one and more occurences

In [90]:
text = """
Python and Data Science NaturalLaunguageProcessing
"""
res = re.findall(r"\w",text) #A-Za-z0-9_
print(res)

['P', 'y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 'N', 'a', 't', 'u', 'r', 'a', 'l', 'L', 'a', 'u', 'n', 'g', 'u', 'a', 'g', 'e', 'P', 'r', 'o', 'c', 'e', 's', 's', 'i', 'n', 'g']

In [92]:
text = """
Python and Data Science NaturalLaunguageProcessing
"""
res = re.findall(r"\w{2,15}",text) #A-Za-z0-9_ #It will give frequency from 0 till 15 
print(res) # Thats y this is output :- 'NaturalLaunguag', 'eProcessing'

['Python', 'and', 'Data', 'Science', 'NaturalLaunguag', 'eProcessing']

In [93]:
# by using + we can get all the frequencies present between [A-Za-z0-9_]
text = """
Python and Data Science NaturalLaunguageProcessing
"""
res = re.findall(r"\w+",text) #A-Za-z0-9_
print(res)

['Python', 'and', 'Data', 'Science', 'NaturalLaunguageProcessing']

### 2. *(Star) = Zero or more occurences

In [95]:
text = """
ython
"""
res = re.findall(r"P*ython",text) # *Zero or more
res

['ython']

In [106]:
text = """
Python
"""
res = re.findall(r"P*ython",text) # *Zero or more
res

['Python']

In [97]:
text = """
PPPPPPPPPPPPPPPPPPPPPython
"""
res = re.findall(r"P*ython",text) #P zero or more occurences
res

['PPPPPPPPPPPPPPPPPPPPPython']

### 3. (.) dot = Any char except new line

In [107]:
text = """
ASsdf%#$$
"""
res = re.findall(r".",text) #Any combination of any characters with frequency 1
res

['A', 'S', 's', 'd', 'f', '%', '#', '$', '$']

In [108]:
text = """
ASsdf%#$$
"""
res = re.findall(r".{2}",text) #Any combination of any characters with frequency 2
res

['AS', 'sd', 'f%', '#$']

In [109]:
text = """
ASsdf%
#$$
"""
res = re.findall(r".{2}",text) #Any combination of any characters with frequency 2
res

['AS', 'sd', 'f%', '#$']

In [110]:
text = """
9022234961
"""
res = re.findall(r".",text) 
res

['9', '0', '2', '2', '2', '3', '4', '9', '6', '1']

In [111]:
text = """
9022234961
"""
res = re.findall(r".+",text) #Any combination of any characters with one or more
res

['9022234961']

In [112]:
text = """
Adhar :- 1234 1254 1245
"""
res = re.findall(r"\d+\s\d+\s\d+",text) 
res

['1234 1254 1245']

In [113]:
text = """
Adhar :- 1234 1254 1245
"""
res = re.findall(r".+",text) #Combination of anything any char with one or more occurences
res

['Adhar :- 1234 1254 1245']

### 4. ? = It matches exactly zero or one char

In [117]:
text = """
Python
"""
res = re.findall(r"P?.+",text) #P with 0/1 ocuurences with combination of anything with frequency of one and more
res

['Python']

In [116]:
text = """
ython
"""
res = re.findall(r"P?.+",text) #P with Zero ocuurences with combination of anything with frequency of one and more
res

['ython']

### 5. ^(Startswith) = any char startswith

In [118]:
text = """
Python
"""
res = re.findall(r"^P",text) #Here string starts with new line not P
res

[]

In [121]:
text = """Python
"""
res = re.findall(r"^P.....",text) #
res

['Python']

### 6. $ = Ends with

In [128]:
text = """
Python.txt
"""
res = re.findall(r"^P...........",text) # its starts with new line
res

[]

In [133]:
text = """Python.txt
"""
res = re.findall(r"^P.+t$",text) #Starts with P ends with t (t$)
res

['Python.txt']

In [134]:
text = """Python.txt
"""
res = re.findall(r"^P.+n$",text) #Starts with P ends with n (n$) so no output
res

[]

### 7. |   = like or operator

In [140]:
text = """
Python and data science
Java and data science
"""
res = re.findall(r"[Python|Java] .+",text) # it is matching the squence of char in [Python|Java]
res

['n and data science', 'a and data science']

In [142]:
text = """
Python and data science
Java and data science
"""
res = re.findall(r"Python|Java",text) 
res

['Python', 'Java']

In [163]:
text = """Python and data science
Java and data science
"""
res = re.findall(r"(?:Python|Java).+e$",text) 
res

['Java and data science']

# <font color=Blue> RE Functions </font>

### 1. Split() :-

In [1]:
str1 = "Python-And-Data_Science" # it will find the exact match ("_|-") from str1 thats y no output
str1.split("_|-")

['Python-And-Data_Science']

In [11]:
import re

In [5]:
str1 = "Python-And-Data_Science" # In re.split we can use 2 delimeter inside one function
re.split("_|-",str1)

['Python', 'And', 'Data', 'Science']

In [6]:
str1 = "Python-And-Data_Science" 
re.split("[_|-]",str1)

['Python', 'And', 'Data', 'Science']

In [7]:
str1 = "Python-And-Data11_Science1" 
re.split("[0-9]",str1)

['Python-And-Data', '', '_Science', '']

### 2. re.search :-
- It will search for match and returns an object of only first occurence/match
- It will return object

In [12]:
txt = """
DQNPP8998WE 
DQNPP9090E
"""
res = re.search("\w{5}\d{4}\w",txt) # DQNPP8998W this is incoorect pan no.
print(res)

<re.Match object; span=(1, 11), match='DQNPP8998W'>

In [14]:
txt = """
DQNEP89958W
DQNPP9090E
"""
res = re.search("[A-Z]{5}\d{4}[A-Z]",txt)
res

In [15]:
res.start() #Index 11= W,12=new line,13=D

13

In [17]:
res.end() #End Index of E=23

23

In [21]:
txt[13:23] #Same index of start and end gives match

'DQNPP9090E'

In [20]:
res.group()

'DQNPP9090E'

### 3. re.match() :-
- It will search for match at the begining of string and returns object
- re.match(pattern,txt)

In [23]:
text = """
Adhar :- 1234 1515 2345 
"""
res = re.match("\d{4}\s\d{4}\s\d{4}",text) #It will not match coz its starts with new string
res

In [24]:
text = """1234 1515 2345 
"""
res = re.match("\d{4}\s\d{4}\s\d{4}",text)
res

In [25]:
res.start()

0

In [26]:
res.end()

14

In [27]:
res.group()

'1234 1515 2345'

### 4. re.sub(pattern,newString,txt)

In [28]:
"Python And Data Science".replace("Python","Java") #Its like replace function

'Java And Data Science'

In [29]:
re.sub("\d","","Python 1 And 2 Data 3 Science") #Substitute no. to nothing from given text

'Python  And  Data  Science'

# Group

In [30]:
txt = "Supperman and Superwoman"
re.search("Super(wo)?man",txt).group()

'Superwoman'

In [4]:
txt = "Superman and Superwoman"
re.search("Super(?:wo|)man",txt).group()

'Superman'

# Compile

In [47]:
str1 = "1234 2345 4556"
str2 = "1234 2345 455"
str3 = "123 2345 455"
str4 = "1234 2345 4056"

In [48]:
re.findall("\d{4} \d{4} \d{4}",text)

['1234 1515 2345']

In [50]:
obj = re.compile(r"\d{4} \d{4} \d{4}")
obj

re.compile(r'\d{4} \d{4} \d{4}', re.UNICODE)

In [51]:
obj.search(str1).group()

'1234 2345 4556'

In [54]:
obj.findall(str4).group()

AttributeError: 'list' object has no attribute 'group'

In [53]:
re.findall(obj,str1)

['1234 2345 4556']

In [55]:
obj.match(str1).group()

'1234 2345 4556'

In [2]:
import re
text = """
Adhar :- 1234 1254 1245
"""
res = re.findall(r"\d+",text) 
res

['1234', '1254', '1245']